

@use 'vuetify/settings' with (
//   variables go here
//   $body-font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif !important;

  $body-font-family: "Ubuntu"
);


body {
    background: rgb(var(--v-theme-surface));
}

.fl-player-table-header {
    padding-left: 2px;
}

.fl-player-table-item {
    padding-left: 8px;
}

// .fl-container{
//     padding-left: 1px;
//     padding-right: 1px;
//     width: 100%;
// }